<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hecl.android">

    <uses-permission id="android.permission.READ_CONTACTS" />
    <uses-permission id="android.permission.GET_TASKS" />
    <uses-permission id="com.google.android.xmppService.permission.XMPP_SERVICE" />

    <application android:icon="@drawable/hecl">

        <provider class="ScriptProvider"
                android:authorities="org.hecl.android.Scripts" />

        <activity class=".Hecl" android:label="Hecl">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity class=".SubHecl" android:label="SubHecl">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>
</manifest>
