<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hecl.android">

    <uses-permission id="android.permission.READ_CONTACTS" />

    <application android:icon="@drawable/hecl">
        <activity class=".Hecl" android:label="Hecl">
            <intent-filter>
                <action android:value="android.intent.action.MAIN" />
                <category android:value="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
