body {
    font-family: "Trebuchet MS", verdana, sans-serif;
    color: #313131;
    font-size: smaller;
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
}

div.title {
    background-color: #f9b93e;
    color #070707;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: 1px solid black;
    height: 100px;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

div.title h1 {
    font-size: 32px;
    padding: 0;
    margin: 0;
}

div.title span {
    font-size:16px;
    font-weight: bold;
}

A:link {
    color: #3333cc;
    text-decoration: none;
    font-weight: bold;
}

A:visited {
    color: #3333cc;
    text-decoration: none;
    font-weight: normal;
}

A:hover {
    text-decoration: underline;
}

code {
    color: #006600;
}

p {
    padding-left: 5ex;
}

div.nav {
    width: 15em;
    float: left;
    background-color: #dddddd;
    margin: 2ex;
    padding: 1ex;
    border: solid #bbbbbb 1px;
}

div.example {
    float: right;
    background-color: #dddddd;
    border: solid #bbbbbb 1px;
    margin: 1ex;
}

div.nav ul {
    padding-left: 2ex;
}

#home #home-nav, #docs #docs-nav, #examples #examples-nav, #applets
#applets-nav, #phones #phones-nav {
background-color: #bbb;
padding: 3px;
}

table.applet {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1em;
}

table.applet th {
    background-color: #bbbbbb;
}

table.applet td.caption {
    background-color: #dddddd;
    border: 1px #bbbbbb solid;
    padding: 1em;
}

ul.phonelist {
    margin-left: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul.phonelist > li > ul > li {
    display: inline;
    margin-left: 2em;
}

#phones p, #phones h3 {
margin-left: 15%;
}
